body {
    background-color: black;
}

.square {
    width: 30%;
    background: lightblue;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    background-color: black;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
}

#message {
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
    font-family: sans-serif;
}

form {
    text-align: center;
    position: fixed;
    color: lightblue;
    text-transform: uppercase;
    width: 20%;
    border: 1px solid blue;
    margin-top: 22%;
    margin-left: 40%;
    
}

.submit {
    border: 1px solid blue;
    color: lightblue;
    margin-top: 20px;
}